<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        
       <h1>Bienvenue au restaurant</h1>
        <p>Prêt à choisir un restaurant ?</p>
        
        @Html.ActionLink("Créer un restaurant","CreerRestaurant", "Restaurant")
        <br/>
        @Html.ActionLink("Modifier les restaurants", "Index", "Restaurant")
        @using (Html.BeginForm())
        {
            <button  type="submit" >Créer un sondage</button>
        }
    </div>
</body>
</html>
