@model ChoixResto.ViewModels.PresentationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Presentation restaurant @Model.Restaurant.Nom</title>
</head>
<body>
    <div> 
        <p>Voici la page de présenation du resto' @Model.Restaurant.Nom</p>
        <br/>
        <p>Nous avons ouvert le @Model.Date</p>
        <p>N'hésitez pas à nous contacter au @Model.Restaurant.Telephone</p>
    </div>
</body>
</html>
