@model ChoixResto.Models.Restaurant
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierRestaurant</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>
                    Modifier restaurant
                </legend>
                @Html.LabelFor(m => m.Nom)
                @Html.TextBoxFor(m => m.Nom)
                <br/>
                @Html.LabelFor(m => m.Telephone)
                @Html.TextBoxFor(m => m.Telephone)
                <br/>
                <input type="submit" value="Modifier"/>
            </fieldset>
        }   
    </div>
</body>
</html>
