
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Résultat sondage</title>
</head>
<body>
    <div> 
        <p>Voici le résultat du sondage</p>
    </div>
</body>
</html>
